<!DOCTYPE html>
<html>
  <head>
    <title>ProcoreChat</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if logged_in? %>
      <%= "Welcome, #{current_user.name}!" %>
      <%= link_to "Log out", sessions_path, method: "delete", class: "btn btn-primary" %></br></br></br>
<% end %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= yield %>
</body>
</html>